<div class="container text-center">
  <div>
    {{! Title}}
    <div class="row">
      <h1 class="col mt-3 mt-md-5">{{#i18n}}index.prepping{{/i18n}}</h1>
    </div>
    {{! Subtitle}}
    <div class="row">
      <p class="col mt-3 mt-md-4 description">{{#i18n}}index.publish{{/i18n}}</p>
    </div>
  </div>

  <div>
    {{! Meanwhile}}
    <div class="row">
      <p class="col mt-3 mt-md-4 text-left">{{#i18n}}index.beforeThat{{/i18n}}</p>
    </div>

    {{! Cards}}
    <div class="row cards">
      <div class="col-md mb-3 mb-md-4">
        <a href="{{bilibiliClientUrl}}">
          <h2>{{#i18n}}index.playAtBilibili.title{{/i18n}}</h2>
        </a>
        <p class="col mt-3 mt-md-4 description">
          {{#i18n}}index.playAtBilibili.description{{/i18n}}
        </p>
      </div>

      <div class="col-md mb-3 mb-md-4">
        <div>
          <h2 class="">{{#i18n}}index.github.title{{/i18n}}</h2>
          <a class="github-button" href="https://github.com/yehzhang/DanmakuCraft2"
             data-icon="octicon-star" data-size="large"
             aria-label="Star yehzhang/DanmakuCraft2 on GitHub">Star</a>
        </div>
        <p class="col mt-3 mt-md-4 description">{{#i18n}}index.github.description{{/i18n}}</p>
      </div>

      <div class="col-md mb-3 mb-md-4">
        <h2>{{#i18n}}index.share.title{{/i18n}}</h2>
        <p class="mt-3 mb-1">
          <a href="{{bilibiliClientUrl}}">
            {{#i18n}}index.share.howTo.1{{/i18n}}
          </a>
          {{#i18n}}index.share.howTo.2{{/i18n}}
        </p>
        <p class="col mt-3 mt-md-4 description">{{#i18n}}index.share.description{{/i18n}}</p>
      </div>
    </div>
  </div>
</div>

{{! Github Button}}
<script async defer src="https://buttons.github.io/buttons.js"></script>
