@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities/spacing';

body {
  background-color: #f6f9fa;
  font-family: // Safari for OS X and iOS (San Francisco) -apple-system,
    // Chrome < 56 for OS X (San Francisco)
      BlinkMacSystemFont,
    // Mac
      'Helvetica Neue',
    // Chinese
      'PingFang SC',
    'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei',
    // Windows
      'Segoe UI',
    // Android
      'Roboto',
    // Basic web fallback
      Helvetica,
    Arial, sans-serif,
    // Emoji fonts
      'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

@mixin dimensions-from-width($width) {
  width: $width;
  height: $width * 0.618;
}

.game-container {
  margin: 0 auto;

  display: block;
  @include dimensions-from-width(100vw);
}

@include media-breakpoint-up(md) {
  .game-container {
    @include dimensions-from-width(80vw);
  }
}

@include media-breakpoint-up(lg) {
  .game-container {
    @include dimensions-from-width(70vw);
  }
}

@include media-breakpoint-up(xl) {
  .game-container {
    @include dimensions-from-width(60vw);
  }
}

.title {
  @extend .mt-3;
  @extend .mt-md-5;
}

.paragraph {
  @extend .mt-3;
  @extend .mt-md-4;
}

.description {
  @extend .paragraph;
  color: #5c5855;
}

.inner-header {
  @extend .mb-3;
  @extend .mb-md-4;
}

.inner-paragraph {
  @extend .mt-3;
  @extend .mb-1;
}
