<body>

<script src="<%= sails.config.parameters.betaBundleFileUrl %>?nonsense=<%= Math.random() %>"></script>

<div class="game-container" id="<%= sails.config.frontend.gameContainerId %>"></div>

</body>
