<!DOCTYPE html>
<html>
  <head>
    <title><%= [__('appName'), typeof subtitle === 'undefined' ? '' : subtitle].filter(Boolean)
        .join(' | ') %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    <%- body %>
    <!--TODO include in pages other than index-->
    <!--<script src="/js/dependencies/sails.io.js"></script>-->
  </body>
</html>
